html {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  overflow: hidden;
  height: 100%;
}

app-root {
  display: block;
  height: 100%;
}

header {
  background: #5851ff;
  color: white;
  height: 56px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  padding: 0 12px;
}

main {
  position: absolute;
  top: 56px;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  main {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
}

.controls {
  padding: 1rem;
  overflow-y: scroll;
}

pre {
  display: block;
  background-color: #EEEEEE;
  padding: 2rem;
  margin: 0;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

button,
input[type="submit"] {
  background: #5851ff;
  color: white;
  margin: 0.5rem;
  border: none;
  font-size: 13px;
  font-weight: 700;
  padding: 16px 20px;
  border-radius: 2px;
  box-shadow: 0 8px 16px rgba(0,0,0,.1), 0 3px 6px rgba(0,0,0,.08);
  outline: 0;
  letter-spacing: .04em;
  transition: all .15s ease;
  cursor: pointer;
}

@media (max-width: 768px) {
  button,
  input[type="submit"] {
    display: block;
    width: 100%;
    padding: 8px 10px;
  }
}
  
button:hover:not(:disabled),
button.pressed,
input[type="submit"]:hover:not(:disabled),
input.pressed {
  box-shadow: 0 3px 6px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.1);
  transform: translateY(1px);
}

button:disabled,
input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

details {
  border: 2px solid #CCCCCC;
  border-radius: 0.5rem;
  padding: 1rem;
}

details + details {
  margin-top: 1rem;
}

summary > * {
  display: inline-block;
  margin: 0;
}

details[open] > summary {
  margin-bottom: 1rem;
}

form {
  margin: 0.5rem;
}

label {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 1rem;
}

textarea {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
